@model IEnumerable<SocialGym.BLL.Entities.Community>

@{
    ViewData["Title"] = "Index";
}

<h1>Comunidades</h1>

<p>
    <a asp-action="Create">Criar uma comunidade</a>
</p>

@if(ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.CommunityId }) |
                @Html.ActionLink("Ver Membros", "Members", new { id = item.CommunityId  }) |
                @Html.ActionLink("Ingressar", "Ingress", new { id = item.CommunityId })
            </td>
        </tr>
}
    </tbody>
</table>
}
