@model SocialGym.Web.Models.UserProfileCommunitiesViewModel

@{
    ViewData["Title"] = "UserCommunities";
}

@if(ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}
else
{
    <div class="row marcador align-items-center">
        <div class="col mx-auto text-center">
            <img style="width: 10rem; height: 10rem; border-radius: 50%;" class="card-img-top" src="@Model.UserProfile.Avatar" alt="@ViewBag.UserName" >
             <h1 style="font-size: 4rem;">@Model.UserProfile.UserName</h1>
        </div>
    </div>

    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Communities.ElementAt(0).Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Communities.ElementAt(0).Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Communities) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Visualizar Postagens", "Index", "Post", new { communityId = item.CommunityId  },  new { @class="btn btn-primary" })  |
                @Html.ActionLink("Visualizar Participantes", "Participants", new { id = item.CommunityId  },  new { @class="btn btn-warning" })  |
                @Html.ActionLink("Visualizar Admin", "Admin", new { id = item.CommunityId  }, new { @class="btn btn-success" }) |
                @Html.ActionLink("Ingressar", "Ingress", new { id = item.CommunityId },  new { @class="btn btn-info" })
            </td>
        </tr>
}
    </tbody>
</table>
}