@model SocialGym.Web.Models.CommunityPostsViewModel

@{
    ViewData["Title"] = "Index";
}

@if(ViewBag.NonParticipantMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.NonParticipantMessage
    </div>
}
else if(ViewBag.ErrorMessage == "Comunidade não encontrada")
{
     <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}
else
{
    <h1>Comunidade @Model.Community.Name</h1>

    <p>
        <a class="btn btn-primary" asp-route-id="@Model.Community.CommunityId" asp-action="Create">Cria sua nova postagem</a>
    </p>

    @if(ViewBag.ErrorMessage == "Posts não encontrados")
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.ErrorMessage
        </div>
    }
    else
    {
        @foreach (var item in Model.Posts) {
            
        <div class="card mb-3">
            <div class="card-body">
            <a href="/post/delete/@item.PostId" class="btn btn-sm btn-danger float-right">Deletar</a>
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
            <p class="card-text">@Html.DisplayFor(modelItem => item.Text)</p>
            <p class="card-text"><small class="text-muted">Postado em: @Html.DisplayFor(modelItem => item.CreatedAt), por: <a href="/profile/@item.CommunityParticipantUserName">@item.CommunityParticipantUserName</a></small></p>
            @if(item.ImageUrl != null)
            {
                <img class="card-img-bottom" src="@Html.DisplayFor(modelItem => item.ImageUrl)" alt="Post image">
            }
            </div>
        </div>
        }    
    }
}
